[submodule "spring-cloud-config/themes/docs"]
	path = spring-cloud-config/themes/docs
	url = git@github.com:pivotal-enablement/hugo-theme-bootie-docs.git
[submodule "spring-cloud-netflix-service-discovery/themes/hugo-theme-bootie-docs"]
	path = spring-cloud-netflix-service-discovery/themes/hugo-theme-bootie-docs
	url = git@github.com:pivotal-enablement/hugo-theme-bootie-docs.git
