[submodule "spring-cloud-config/themes/docs"]
	path = spring-cloud-config/themes/docs
	url = git@github.com:pivotal-enablement/hugo-theme-bootie-docs.git
[submodule "spring-cloud-netflix-service-discovery/themes/hugo-theme-bootie-docs"]
	path = spring-cloud-netflix-service-discovery/themes/hugo-theme-bootie-docs
	url = git@github.com:pivotal-enablement/hugo-theme-bootie-docs.git
[submodule "spring-cloud-netflix-client-side-load-balancing/themes/hugo-theme-bootie-docs"]
	path = spring-cloud-netflix-client-side-load-balancing/themes/hugo-theme-bootie-docs
	url = git@github.com:pivotal-enablement/hugo-theme-bootie-docs.git
[submodule "spring-cloud-netflix-circuit-breaking/themes/hugo-theme-bootie-docs"]
	path = spring-cloud-netflix-circuit-breaking/themes/hugo-theme-bootie-docs
	url = git@github.com:pivotal-enablement/hugo-theme-bootie-docs.git
[submodule "spring-cloud-netflix-circuit-breaking-metric-aggregation/themes/hugo-theme-bootie-docs"]
	path = spring-cloud-netflix-circuit-breaking-metric-aggregation/themes/hugo-theme-bootie-docs
	url = git@github.com:pivotal-enablement/hugo-theme-bootie-docs.git
[submodule "spring-cloud-labs-setup/themes/hugo-theme-bootie-docs"]
	path = spring-cloud-labs-setup/themes/hugo-theme-bootie-docs
	url = git@github.com:pivotal-enablement/hugo-theme-bootie-docs.git
